<ion-view view-title="Locations">
  <ion-content class="padding">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="location in locations" type="item-text-wrap" href="#/tab/location/{{location.id}}">
        <h2>{{location.name}}</h2>
        <p>
        	{{location.address}}<br/>
        	{{location.todaysHoursOfOps}}
        </p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <!--<ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>-->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>